<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pushengage.PushNotificationDemo">

    <application
        android:name=".PEApplication"
        android:allowBackup="false"
        android:icon="@drawable/pe_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pe_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PushEngage">
        <activity
            android:name=".TriggerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "app://www.pushengage.com/trigger” -->
                <data
                    android:host="www.pushengage.com"
                    android:pathPrefix="/trigger"
                    android:scheme="app" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>